@{
    ViewBag.Title = "PaginaInvalida";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<!--Form de Logueo de aplicación-->
<form role="form" class="paginaInvalidaMargen" name="">
    <div class="text-center">
        <br /><br />
        <div class="bordeadoLogin"><h3 class="tituloLogueo">Acceso denegado.</h3></div><br /> <br />
        <a class="btn btn-generadoNew hoverShadowBuscar" type="button" href="@Url.Action("Index", "Login")"> <i class="bi bi-house"></i> &nbsp; Ir a página de ingreso</a>
    </div>
</form>



