
@{
    ViewBag.Title = "Evaluar";
    //Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}


@if ((int)Session["TipoUsuario"] == 2)
{
    <h3>Evaluar</h3>

    <div>Ingrese la evauación correspondiente al atestado:</div>

    <form style="margin-bottom: 100px">
        <label for="puntos">Puntaje asignado</label><br>
        <input type="number" id="puntos" name="puntos" min="1" max="100"><br>
        <input type="submit">
    </form>



}



