<!--Footer-->
<footer class="footer fixed-bottom mt-1 pt-1 bg-light">
    <div class="text-center p-3">
        <p style='display:inline'>DATIC - Tecnológico de Costa Rica - V 1.0.0 - &copy; @DateTime.Now.Year</p>
        <img src="~/Content/img/anim_tec.gif" style="visibility:hidden;" width="0" height="0">
    </div>
</footer>
<!--Fin Footer-->
