@model Atestados.Objetos.Dtos.AtestadoDTO

<p>
    @Html.ActionLink("Editar", "Editar", "Atestado", new { id = Model.AtestadoID }) |
    @Html.ActionLink("Regresar", "Regresar")
    @if ((int)Session["TipoUsuario"] == 1 || (int)Session["TipoUsuario"] == 2)
    {
        <span>|</span>
        @Html.ActionLink("Evaluar", "Evaluar", "Atestados", new { id = Model.AtestadoID }, null)
    }
</p>

