@model Atestados.Objetos.Dtos.PersonaDTO

@{
    ViewBag.Title = "Ver";
    Layout = "~/Views/Shared/_LayoutFuncionario.cshtml";
}

@using Atestados.Objetos.Dtos;

<link href="~/Views/css/Atestado.css" rel="stylesheet" type="text/css" />

<style>

    textarea {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 10vh;
    }

    .table-wraper {
        display: block;
    }

    .scrollbar-atestados {
        position: relative;
        height: 250px;
        overflow: auto;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <h2>Funcionario</h2>
        <hr />
    </div>
    <div class="row w-100">
        <div class="col-lg-6">
            <!-- columna izquierda -->
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                

            </dl>
        </div>
        
    
</div>

